#container {
    width: 715px;
    height: 230px;
    margin: 50px auto;
}
.button-4 {
    width: 100%;
    height: 100%;
    float: left;
    /* border: 2px solid #34495e; */
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    /* margin: 0 0 40px 50px; */
}
.button-4 h5 {
    font-family: arial;
    font-size: 16px;
    color: #34495e;
    text-decoration: none;
    /* line-height: 50px; */
    transition: all 0.5s ease;
    z-index: 2;
    position: relative;
}
.button-4 p {
    font-family: arial;
    font-size: 16px;
    color: #34495e;
    text-decoration: none;
    /* line-height: 50px; */
    transition: all 0.5s ease;
    z-index: 2;
    position: relative;
}
.eff-4 {
    width: 100%;
    height: 100%;
    left: -370px;
    background: #b2eaff;
    position: absolute;
    transition: all 0.5s ease;
    z-index: 1;
    margin-top: -1.3em;
}
.button-4:hover .eff-4 {
    left: 0;
}
.button-4:hover p.card-text {
    color: #fff;
}
.button-4:hover h5 {
    color: #fff;
}
.card-position {
    margin-left: 25px;
}

/* スマホ時のCSS */
@media screen and (max-width: 640px) {
    .card-position {
        margin-left: 0px;
    }
}
